node_modules
npm-debug.log
.git
.gitignore
.env.local
.env.*.local
dist
.vscode
.idea
*.md
.DS_Store
coverage
.npm
.eslintcache
src
index.html
vite.config.ts
tsconfig.json
tsconfig.app.json
tsconfig.node.json
postcss.config.js
tailwind.config.js
eslint.config.js
